# Backend API & Socket URL
NEXT_PUBLIC_API_URL=
NEXT_PUBLIC_SOCKET_URL=

# App Name & Site URL
NEXT_PUBLIC_APP_NAME=
NEXT_PUBLIC_SITE_URL=

# Meta (Facebook) OAuth
NEXT_PUBLIC_META_APP_ID=
NEXT_PUBLIC_META_REDIRECT_URI=
META_APP_ID=
META_APP_SECRET=
META_REDIRECT_URI=
